*{ 
    Margin:0;
    Padding:0;
    Box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html,body{
    Width:100%;
    Height:100%;
}

.main{
    height: 100%;
    width: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0px 40px;
}

nav h1{
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
}

.p1 h3{
    border: 2px solid rgba(9, 8, 8, 0.83);
    border-radius: 40px;
    padding: 7px 14px;
    font-weight: 400;
    font-size: 16px;
}

.p1 span{
    /* height: 30px;
    width: 30px; */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(13, 13, 13, 0.813);
    border-radius: 40px;
    padding: 6px;
}

.p1 span svg{
    height: 25px;
    width: 25px;
    color: rgba(9, 8, 8, 0.83);
}

.p2 span{
    border-radius: 40px;
    border: 1px solid rgba(13, 13, 13, 0.813);
    background-color: orangered;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
}

.p2 span svg{
    height: 30px;
    width: 35px;
}

.p1,.p2,.p3{
    display: flex;
    align-items: center;
}

.p3 button{
    padding: 7px 14px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid rgba(31, 30, 30, 0.698);
    cursor: pointer;
}

#btn2{
    background-color: orangered;
    font-weight: 500;
    color: white;
}

.page1 h1{
    font-size: 150px;
    font-weight: 400;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 100%;
}

/* .page1 .center{
    position: absolute;
    left: 50%;
    top: 61%;
    transform: translate(-50%,-50%);   
    padding: 10px 15px;
    display: flex;
    align-items: center;
    z-index: 99;
} */

.page1 h4{
    border-radius: 30px;
    border: none;
    background-color: white;
    position: absolute;
    left: 52%;
    top: 61%;
    transform: translate(-50%,-50%);   
    padding: 10px 15px;
    display: flex;
    align-items: center;
    z-index: 99
}

.page1 span{
    position: absolute;
    top: 58.7%;
    left: 43.8%;
    height: 40px;    
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50px;
    z-index: 99;
}

.page1 span svg{
    height: 25px;
    width: 25px;
}

.img{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

img{
    border-radius: 20px;
    height: 400px;
    width: 300px;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 4;
}

#img1{
    transform: translate(-50%,-50%) rotate(-40deg);
}

#img2{
    transform: translate(-50%,-50%) rotate(-30deg);
}

#img3{
    transform: translate(-50%,-50%) rotate(-20deg);
}

#img4{
    transform: translate(-50%,-50%) rotate(-10deg);
}

.bottom h4{
    position: absolute;
    bottom: 30px;
    left: 40px;
    font-size: 14px;
}

.bottom h5{
    position: absolute;
    right: 40px;
    bottom: 30px;
    font-size: 14px;
}

.icons{
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    right: 40px;
    bottom: 59px;
}

.icons svg{
    height: 20px;
    width: 20px;
}